@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-body: #141414;
    --azul-oscuro: #171f2f;
    --azul-claro: #2e3954;
    --turquesa: #24afce;
    --rojo: #e50914;
    --color-textos: #ffffff;
    --fuentes: 'Poppins', sans-serif;
    --texto: 14px;
    --titulos: 24px;
}

body {
    background-color: var(--bg-body);
    font-family: var(--fuentes);
}

.navbar-toggler {
  background-color: #6c757d; 
  border: none;
}

.search-wrapper {
  position: relative;
}

.search-input {
  padding-right: 2.5rem;
}

.search-icon {
  color: #aaa;
}
.btn-suscripcion{
  background-color:  #24afce;
  color: rgb(14, 14, 14);
}

.btn-suscripcion:hover {
  background-color: #1a7a9d;
  color: white;
}
.btn-celular {
  width: 180px; 
  text-align: center;
  padding: 10px;
}
.navbar-nav .nav-link {
  position: relative;
  transition: color 0.5s ease;
  padding-bottom: 5px;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7px;
  width: 0%;
  height: 2.5px;
  background-color: #00bcd4; 
  transition: width 0.5s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 85%;
}


.hero {
    height: 90vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 4rem 2rem;
    background-color: var(--bg-body);
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../Assets/img/portadafragmentos.png") center/cover no-repeat;
    z-index: 0;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--bg-body), transparent);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    color: var(--color-textos);
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.btn-play,
.btn-info {

    margin-right: 1rem;
}




.login {
    background-color: var(--bg-body);
    color: var(--color-textos);
}

.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.form-login {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

.form-login input {
    background-color: #333;
    color: var(--color-textos);
    border: none;
}

.form-login input::placeholder {
    color: #bbb;
}

.form-login .btn-login {
    background-color: var(--turquesa);
    border: none;
}

.form-login .btn-login:hover {
    background-color: var(--turquesa);
}

a {
    color: #ccc;
}

a:hover {
    color: #fff;
}


.episodio-img{
    max-width: 180px;
}

.icono-play {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.episodio-img:hover .icono-play {
    opacity: 1;
}

.btn-play
.btn-info{
margin-right: 1rem;
}
.plan-card{
    background-color: #1e1e1e;
    height: 100%;
    width: 100% ;
    padding: 2rem;
    border-radius: 20px;
}
.plan-card h5{
    color: var(--texto);
}
.card:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;

}
.card2:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgb(138, 152, 9);
}
.card3:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgb(126, 4, 4);
}
.formulario {
      background-color: #1e1e1e;
      padding: 2rem;
      border-radius: 1rem;
      margin-top: 3rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .formulario input {
      background-color: #333;
      border: none;
      color: #fff;
    }

    .formulario input::placeholder {
      color: #bbb;
    }
  .img-error{
    width: 300px;
  }
  

.img-overlay-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.img-overlay-wrapper:hover img {
  transform: scale(1.03);
}

.img-overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0,0,0,2), transparent);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-overlay-wrapper:hover .img-overlay {
  opacity: 1;
}

/* CARDS DESTACADAS */
.custom-card {
  width: 300px;
  height: 500px;
  overflow: hidden;
  transition: transform 0.3s ease;
  border: none;
}

.custom-card:hover {
  transform: scale(1.05);
  z-index: 2;
}


.custom-card .card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(80%);
}


.gradient-overlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75) 40%,
    rgba(0, 0, 0, 0.1) 100%
  );
}


.episodio {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.episodio:hover {
  background-color: #2a2a2a;
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.icono-play {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 2rem;
  color: white;
  z-index: 2;
  background: none;
  border: none;
}

.episodio:hover .icono-play {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.card-peli:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgb(5, 147, 69);
}
.hero-img-pelicula {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../Assets/img/portadaHeroPeliculas.png") center/cover no-repeat;
    z-index: 0;
}

.lowcost:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgba(5, 147, 69);
}
.icono-play-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}
.custom-card:hover .icono-play-mobile {
  opacity: 1;
}
.icono-play-mobile .btn {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.accordion {
  border: none;
  background-color: transparent;
}
.accordion-item {
  border: none;
  background-color: transparent;
  margin-bottom: 1rem;
}

.accordion-button {
  background-color: #222; 
  color: #fff;
  border: none;
  box-shadow: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.accordion-button:hover {
  background-color: #333;
  color: #fff;
}

.accordion-button:not(.collapsed) {
  background-color: #444;
  color: #fff;
}

.accordion-body {
  background-color: var(--bg-body);
  color: #ccc;
  padding: 1rem 1.5rem;
  border-top: none;
  border-radius: 0 0 6px 6px;
}

.accordion-button::after {
  filter: invert(1);
}

.footer-custom {
  background: linear-gradient(to right, #111, #1c1c1c);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: var(--turquesa);
  text-decoration: underline;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.social-icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  color: var(--turquesa);
  transform: scale(1.5);
}
.logo-footer:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

hr {
  border-color: rgba(255, 255, 255, 0.1);
}

h1, h4 {
      color: white;
    }

      .titulo-seccion-contacto {
      font-size: 2.5rem;
      border-bottom: 2px solid #0dcaf0;
      padding-bottom: 0.5rem;
      margin-bottom: 2rem;
    }

    .form-control,
    .form-control:focus {
      background-color: #222;
      border-color: #444;
      color: #fff;
    }

    .btn-enviar {
      background-color: #0dcaf0;
      border: none;
      transition: 0.3s;
    }

    .btn-enviar:hover {
      background-color: #0dcaf0;
      transform: scale(1.05);
    }

    .contacto-info {
      background-color: #1c1c1c;
      border-radius: 10px;
      padding: 30px;
      height: 100%;
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }

    .contacto-info i {
      color:  #0dcaf0;
      margin-right: 10px;
    }

    .formulario-contacto {
      background-color: #1c1c1c;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }

  .sobre-nosotros{
  background-color: #141414
}

.foto-sobre-nosotros{
  
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}
.foto-sobre-nosotros:hover{
  transform: translateY(-5px);

}
.categoria-foto {
    height: 100%;
    width: 100%;
    object-fit: cover;
    }
    .contenedor-sobre-nosotros:hover {
      filter: drop-shadow(8px 8px 4px  #000000 );
    }
    .titulo-seccion {
      font-size: 2.5rem;
      border-bottom: 1px solid #0dcaf0;
      padding-bottom: 0.5rem;
      margin-bottom: 2rem;
}

@media(max-width: 992px) {
  .ocultar-en-tablet {
    display: none !important;
  }
}