@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-body: #141414;
    --azul-oscuro: #171f2f;
    --azul-claro: #2e3954;
    --turquesa: #24afce;
    --rojo: #e50914;
    --color-textos: #ffffff;
    --fuentes: 'Poppins', sans-serif;
    --texto: 14px;
    --titulos: 24px;
}
body{
    background-color: var(--bg-body);
    font-family: var(--fuentes);
}